<div class="page-content-home">
<%= render :partial => "nations/nation", :locals => { :nation => @nations[:britain] } %>
<hr class="cardtop-hr">
<%= render :partial => "nations/nation", :locals => { :nation => @nations[:france] } %>
<hr class="cardtop-hr">
<%= render :partial => "nations/nation", :locals => { :nation => @nations[:russia] } %>
<hr class="cardtop-hr">
<%= render :partial => "nations/nation", :locals => { :nation => @nations[:italy] } %>
<hr class="cardtop-hr">
<%= render :partial => "nations/nation", :locals => { :nation => @nations[:serbia] } %>
<hr class="cardtop-hr">
<%= render :partial => "nations/nation", :locals => { :nation => @nations[:germany] } %>
<hr class="cardtop-hr">
<%= render :partial => "nations/nation", :locals => { :nation => @nations[:austria] } %>
<hr class="cardtop-hr">
<%= render :partial => "nations/nation", :locals => { :nation => @nations[:ottomans] } %>
<hr class="cardtop-hr">
<%= render :partial => "nations/nation", :locals => { :nation => @nations[:bulgaria] } %>
</div>
