<div class="unit" >
  <div class="row">

    <div class="col-xs-3 unit-portrait">
      <%= image_tag asset_path unit[:img] %>
    </div>
    <div class="col-xs-9">
      <h3 class=" unit-title" style="display:inline"><%= "#{ unit[:name] }" %></h3>
      <% unless unit[:attributes].blank? %>
        <p style="display:inline">(
          <% unit[:attributes].each do |attribute| %>
              <%= attribute %>
          <% end %>
        )</p>
      <% end %>
      <p><%= unit[:desc] %></p>

      <% unless unit[:abilities].blank? %>
          <p style="display:inline"><strong>Abilities</strong></p><br>
          <ul>
            <% unit[:abilities].each do |ability| %>
                <li><p style="display:inline"><strong><%= ability[:name] %>:</strong> <%= ability[:desc] %></p></li>
            <% end %>
          </ul>
      <% end %>

      <% unless unit[:special_rules].blank? %>
        <p style="display:inline"><strong>Special Rules</strong></p><br>
        <ul>
        <% unit[:special_rules].each do |special_rule| %>
            <li><p style="display:inline"><%= special_rule %></p></li>
        <% end %>
        </ul>
      <% end %>
      <strong style="display:inline">Strong vs: </strong><p style="display:inline"><%= unit[:strong] %></p><br>
      <strong style="display:inline">Weak vs:   </strong><p style="display:inline"><%= unit[:weak] %></p><br>
    </div>
  </div>
</div>
<hr/>
