<!DOCTYPE html>
<html>
  <head>
    <title>Risk: World War 1</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'ww1_icon_small.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="main-column">
      <%= render "shared/header" %>

      <div class="card">
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render "shared/footer" %>
  <%= render "shared/contact" %>
  </body>
</html>
